<h1 class="blog-header">Check out these posts:</h1>

<a class="blog-nav-item" href="/posts/new">Add Post</a>


<table class="blog">
  <thead>
  <tr>
    <th>Title</th>
    <th>Preview</th>
    <th>Added</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |p| %>
      <tr>
        <td>
          <!-- <%= link_to p.title, "/posts/#{p.id}" %> -->
          <a href="/posts/<%= p.id %>">
            <%= p.title %>
          </a>
        <td>
          <%= p.body %>
        </td>
        </td>
        <td><%= p.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>



<%= will_paginate @posts %>